:root {
    --notification-sfx: //xobyte.org/files/WinXPNotify.mp3;
    --inset-border: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
    
    --button-highlight: ;
    --button-face: ;

    /* Window borders flip button-face and button-highlight */
    --border-window-outer: 
    
    --border-window-inner:
    
}

*::selection {
    color: #fff;
    background-color: #000080;
    opacity: 1;
}

@font-face {
    font-family: "Pixelated MS Sans Serif";
    src: url("https://unpkg.com/98.css@0.1.20/fonts/converted/ms_sans_serif.woff") format("woff");
    src: url("https://unpkg.com/98.css@0.1.20/fonts/converted/ms_sans_serif.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Pixelated MS Sans Serif";
    src: url("https://unpkg.com/98.css@0.1.20/fonts/converted/ms_sans_serif_bold.woff") format("woff");
    src: url("https://unpkg.com/98.css@0.1.20/fonts/converted/ms_sans_serif_bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: #fff;
    font-family: "Pixelated MS Sans Serif", monospace;
    font-size: 11px;
}

h1 {
    font-size: 1.5rem;
}

.allMessages {
    background: transparent;
    border-radius: unset;
    margin: 5px;
    line-height: 12px;
    position: relative;
    font-size: 11px;
}

.allMessages:hover:after {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    background-color: rgba(0, 0, 0, 0.1);
    pointer-events: none;
}

.sent > .senderInfo {
    color: red;
}

.received > .senderInfo {
    color: blue;
}

.allMessages {
    background-color: white;
}

#background {
    scrollbar-color: grey #DFDFDF;
    height: calc(100% - 48px) !important;
}

.msgBody {
    cursor: text;
    padding-top: 3px;
}

#input {
    background-color: #FFF;
    box-shadow: 
    inset 0px 1px grey,  
    inset 0px 2px #0a0a0a;
    font-family: "Pixelated MS Sans Serif", monospace;
    font-size: 11px;
    border-radius: 0;
    padding: 8px 35px 3px 5px;
}

#input::placeholder {
    font-family: "Pixelated MS Sans Serif", monospace;
}

#input:focus {
    outline: dotted 1px #000;
}

a {
    font-family: inherit;
    color: inherit !important;
}

#timestamp {
    color: #555;
    font-size: 11px;
}

#top_banner {
    display: none;
}

#settings {
    background-image: url('/images/profile.png');
    height: 16px;
    width: 16px;
}

#textInput {
    background-color: silver;
    border-top: silver 22px solid;
    box-shadow: 
    0px -1px #fff,
    0px -2px #dfdfdf;
    bottom: 5px;
}

blockquote {
    border: 1px solid #d0d0bf;
    border-radius: 3px;
    line-height: 12px;
    position: relative;
}

.mod,
.owner {
    background-color: transparent;
    background-image: url('/media/crown.png');
    background-size: 100% 100%;
    border-radius: 0;
}

.owner {
    filter: hue-rotate(-60deg);
}

.mod {
    filter: hue-rotate(-180deg);
}

#settingsMenu {
    font-family: Arial, sans-serif;
}

#settingsMenu p {
    padding: 3px 10px 3px 10px;
}

#settingsMenu h2 {
    margin-bottom: 10px;
    text-align: center;
}

#save {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111;
    padding: 3px 6px 3px 6px;
    font-size: 11px;
    position: relative;
    border: outset 2px #6982EE;
    border-radius: 3px;
    cursor: pointer;
}

#save:hover {
    border-color: #C50;
}

#is_typing {
    display: none;
    background-color: transparent;
    border-radius: 0;
    overflow: visible;
    width: auto;
    margin: 5px 0 5px 5px;
}

#is_typing:before {
    content: "Someone is typing";
    font-size: 11px;
}

#is_typing>span {
    background-color: #000;
    height: 1px;
    width: 1px;
    border-radius: 0;
}

.pm {
    background-color: #DFDFDF;
}

.pm > .senderInfo::after {
    content: "\00a0 whispered";
}

.senderInfo {
    justify-content: flex-start;
}

.badge {
    margin-right: 5px;
}

#replyBanner {
    font-size: 11px;
    width: 350px;
    background: none 0% 0% / auto repeat scroll padding-box border-box silver !important;
    left: 0px;
    padding: 5px;
}

#footer {
    font-size: 11px;
    text-align: center;
}

#name {
    font-size: 11px;
}

#settingsMenu > p, #settingsMenu > p > label {
    margin: 5px 0 5px 0;
}

#confirmation {
    line-height: 20px;
}

#closeSettingsBtn {
    background-color: red;
    color: #fff;
}

#closeSettingsBtn::after {
    content: "\00a0 Settings";
}

#account > img {
    margin: 5px;
}

.msgBody > p > em {
    font-family: monospace;
}

#emojiTrayToggle {
    top: 7px;
    right: -2px;
    background-image: url('images/utopia_smiley.png');
    background-repeat: no-repeat;
    background-size: auto;
}

#emojiTray {
    display: none;
    background-color: silver;
    box-shadow: inset 0px 1px #dfdfdf, inset 0px 2px #ffffff; 
    border: none;
    padding: 10px;
}

#emojiTray > h3 {
    font-size: 11px;
    margin-bottom: 5px !important;
}

.emoji,.emojiInGrid {
    line-height: 16px;
    vertical-align: middle;
}

#emojiGrid {
    box-shadow: var(--inset-border);
    background-color: #fff;
    padding: 4px 2px;
}
